<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>32</key>
		<string>0.00324</string>
		<key>31</key>
		<string>0.2342232</string>
		<key>30</key>
		<string>1.3323</string>
		<key>29</key>
		<string>0.43212</string>
		<key>28</key>
		<string>4.2234223</string>
		<key>27</key>
		<string>3.394847</string>
		<key>26</key>
		<string>0.38464</string>
		<key>25</key>
		<string>0.33652</string>
		<key>24</key>
		<string>0.4747662</string>
		<key>23</key>
		<string>0.002334</string>
		<key>22</key>
		<string>0.0002233</string>
		<key>21</key>
		<string>2.349993</string>
		<key>20</key>
		<string>0.0032347</string>
		<key>19</key>
		<string>0.009334</string>
		<key>18</key>
		<string>0.43222</string>
		<key>17</key>
		<string>0.02344</string>
		<key>16</key>
		<string>0.045532</string>
		<key>15</key>
		<string>0.22344222</string>
		<key>14</key>
		<string>0.5677383</string>
		<key>13</key>
		<string>0.0022234</string>
		<key>12</key>
		<string>0.9487722</string>
		<key>11</key>
		<string>0.000933</string>
		<key>10</key>
		<string>2.484773444</string>
		<key>9</key>
		<string>0.487263</string>
		<key>8</key>
		<string>0.484844</string>
		<key>7</key>
		<string>0.00033442</string>
		<key>6</key>
		<string>0.9477032</string>
		<key>5</key>
		<string>0.488832000</string>
		<key>4</key>
		<string>0.333442</string>
		<key>3</key>
		<string>0.000032</string>
		<key>2</key>
		<string>1.30304</string>
		<key>1</key>
		<string>0.00234</string>
		<key>0</key>
		<string>1.374646</string>
	</dict>
</dict>
</plist>
